<p id="notice"><%= notice %></p>

<h1>
  <%= link_to "Bornes de Recharge pour Véhicules Électriques" %><br />
  <small>Back-office de l'application pour mobile <%= link_to "'Relax en ZOE'", "https://relax-en-zoe.herokuapp.com/#/" %></small>
</h1>
<br /><br />

<%= form_tag bornes_path, :method => :get do %>
  <div class="row">

    <div class="col-sm-5">
      <div class="form-group">
        <label>Nom de la station | Adresse | Aménageur</label>
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-4",  onchange:'this.form.submit()' %>
      </div>
    </div>

    <%
=begin%>
 <div class="col-sm-2">
      <div class="form-group">
        <label for="puissance">Puissance mini (kWh)</label>
        <%= select_tag :puissance,
                        options_for_select([3,7,11,22,43,50], params[:puissance]),
                        class: "form-control mr-sm-2", 
                        onchange:'this.form.submit()' %>
      </div>
    </div> 
<%
=end%>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-check-label">
          Dans un rayon de 20 km ?
          <%= check_box_tag :nearby, 1, 
                            (params[:nearby] == '1'), 
                            class: "form-control mr-sm-2", 
                            onchange:'this.form.submit()' %>
        </label>
      </div>
    </div>
  </div>
<% end %>

<br />

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nom station</th>
      <th>Adresse</th>
      <th>Enseigne</th>
      <th>Type prise</th>
      <th>Puissance max</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tfoot>
    <th></th><th></th><th></th><th></th><th></th><th></th>
  </tfoot>

  <tbody>
    <% @bornes.each do |borne| %>
      <tr>
        <td><%= link_to borne.n_station, borne %></td>
        <td><%= borne.ad_station %></td>
        <td><%= borne.n_enseigne %></td>
        <td>
          <strong><%= 'T2' if borne.type_prise_t2 %></strong>
          <strong><%= 'CCS' if borne.type_prise_ccs %></strong>
        </td>
        <td><%= borne.puiss_max %></td>
        <td>
          <% if dist = borne.try(:distance) %>
            <%= dist.round(0) %> km
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @bornes, renderer: BootstrapPagination::Rails %>
<div class="page_info">
  <%= page_entries_info @bornes %>
</div>
