<p id="notice"><%= notice %></p>

<h1>Bornes de Recharge pour Véhicules Électriques</h1>

<%= form_tag bornes_path, :method => :get do %>
  <div class="form-group">
    
    <label>Nom/Adresse/Enseigne:</label> 
    <%= text_field_tag :search, params[:search] %>

    <label class="radio-inline">Puissance mini (kWh):</label>
    <label class="radio-inline"><%= radio_button_tag :puissance,  3, params[:puissance] ==  '3' %>3</label> 
    <label class="radio-inline"><%= radio_button_tag :puissance,  7, params[:puissance] ==  '7' %>7</label>
    <label class="radio-inline"><%= radio_button_tag :puissance, 11, params[:puissance] == '11' %>11</label>
    <label class="radio-inline"><%= radio_button_tag :puissance, 22, params[:puissance] == '22' %>22</label>
    <label class="radio-inline"><%= radio_button_tag :puissance, 43, params[:puissance] == '43' %>43</label>
    <label class="radio-inline"><%= radio_button_tag :puissance, 50, params[:puissance] == '50' %>50</label>
    
    <%= submit_tag "Rechercher", :name => nil, class:"btn-sm btn-success" %>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom station</th>
      <th>Enseigne</th>
      <th>Id station</th>
      <th>Adresse</th>
      <th>Distance</th>
      <th>Code insee</th>
      <th>Nbre pdc</th>
      <th>Puiss max</th>
      <th>Type prise</th>
    </tr>
  </thead>

  <tbody>
    <% @bornes.each do |borne| %>
      <tr>
        <td><%= link_to borne.n_station, borne %></td>
        <td><%= borne.n_enseigne %></td>
        <td><%= borne.id_station %></td>
        <td><%= borne.ad_station %></td>
        <td>
            <% if dist = borne.try(:distance) %>
              <%= dist.round(0) %> km
            <% end %> 
        </td>
        <td><%= borne.code_insee %></td>
        <td><%= borne.nbre_pdc %></td>
        <td><%= borne.puiss_max %></td>
        <td><%= borne.type_prise %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page_info">
  <%= page_entries_info @posts %>
</div>
<%= will_paginate @bornes, renderer: BootstrapPagination::Rails %>